  @font-face {
    font-family: police1;
    src: url("./Combinedd.otf");
  }

/* Dark theme */
/* UTILE POUR FORCER UN MODE LIGHT */
@media (prefers-color-scheme: dark) {
  :root,
  ::backdrop {
    --bg: #fff;
    --accent-bg: #f5f7ff;
    --text: #212121;
    --text-light: #585858;
    --border: #898EA4;
    --accent: #0d47a1;
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
  }
}

  body{
    background-color: white;
  }


  /* ENTÊTE */
  header {
    font-family: 'police1';
    background: linear-gradient(280deg, rgba(77, 168, 112, 1) 0%, rgba(193, 4, 252, 1) 85%);
    text-decoration: none;
    outline: none;
    font-size: 2rem;
  }

  body > header h1 {
    color: white;
    margin: 3rem auto auto auto;
  }

  /* FORMULAIRE */

  form label {
    font-family: police1;
    font-size: 1rem;
  }
  form input,
  select, textarea {

    border-color: #c104fc;
    overflow: visible;
    outline: none;
    background-color: white;
  }

  form input:focus,
  select:focus {
    border: 3px solid rgba(77, 168, 112, 1);
  }

  label{
    margin-top: 2rem;
  }

input {
    /* font-family: police1; */
    /* font-weight: bold; */
    background-color: none;
    color: rgb(193, 4, 252);
    border: 1px solid rgb(193, 4, 252);
  }

  a{
    color: rgb(193, 4, 252);
  }

  a:hover {
    text-decoration: none;
  }
  a, a:visited {
    color: rgb(193, 4, 252);
  }

  input:active {
    border-color: rgba(77, 168, 112, 1);

  }

  button, [role="button"], input[type="submit"], input[type="reset"], input[type="button"], label[type="button"] {
    background-color: rgb(193, 4, 252);
    margin-top: 2rem;
  }





  /* For Google Chrome, Safari, and newer versions of Opera */
::placeholder {
  /* color: rgb(213, 73, 255); */
  font-size: 0.8rem;
}

/* For Mozilla Firefox */
::-moz-placeholder {
  /* color: rgb(213, 73, 255); */
  font-size: 0.8rem;}
